export const twilioData = {
  account_sid: 'YOUR_ACCOUNT_SID',
  auth_token: 'YOUR_AUTH_TOKEN',
  from_number: 'YOUR_TWILIO_NUMBER'
}

export const companyData = {
  companyName: 'YOUR_COMPANY_NAME',
  waitTime: 15,
  holdTime: 5
}